*{
  box-sizing: border-box;
}
body{
  font-family:Tahoma, sans-serif;
  font-size: 12px;
  color: #101010;
}

h1{
  text-align: center;
  font-weight: normal;
}
h2{
  text-align: center;
  font-weight: normal;
}